body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  background: greenyellow;
  width: 50%;
  align-self: center;
  height: 40px;
  font-size: 16px;
}

.link {
  text-align: center;
  height: 30px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin-top: 5px;
  padding: 2%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.input-field {
  height: 30px;
  border: 1px solid gray;
  width: 80%;
  margin: 5%;
  border-radius: 20px;
}

label {
  margin: 0% 7%;
}

form img {
  width: 25%;
  align-self: center;
  display: block;
  margin: 0 auto;
}

.icon {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.small-icon {
  width: 30px;
}

.icon-left {
  width: 20%;
}

.top-score {
  border: 1px solid lightgray;
  background: lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 0% 5% 4% 5%;
  font-size: 20px;
}

.top-score span {
  margin-left: 15px;
}

.race {
  border: 1px solid;
  margin: 2%;
  justify-content: space-between;
  display: flex;
  height: 35px;
  text-decoration: none;
  color: black;
}

.header {
  font-size: 30px;
  margin-bottom: 20px;
}

.container {
  height: 70px;
}